# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
venv/
env/

# Node
node_modules/
dist/
build/
frontend/build/

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Misc
run.txt
